.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
  }
  
  .content-area {
    flex: 1;
  }
  
  .heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .subtext {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .cta-button {
    background-color: #ff0000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  .category-button {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .image-area {
    flex: 1;
    text-align: right;
    /* border: 3px solid black; */

  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    margin-top: 70px;
  }
  
  .additional-info {
    margin-top: 1rem;
    /* border: 1px solid red; */
    text-align: left
  }

  .additional-info p{
    /* border: 1px solid green; */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .logo-container img{
    height: 25px;
  }